<section class="row align-items-center justify-content-center p-4 mb-4" id="header">
    <div class="col-lg-12 text-center p-4">
        <h1>Our Pokemon Portfilio</h1>
        <p class="text-white">Grab your own today!!!</p>
    </div>
</section>

<section class="row justify-content-center" id="pokedex-outer">
    <div class="col-lg-7">
        <h3 class="mb-4"><%= @pokemons.count %> pokemon available</h3>
        <%= render "components/pokedex" %>
    </div>
</section>